<ul class="explainer">

<li>
  Queries with <span class="example">i:</span> in them are Google Image searched.
  <ul>
    <li><a class="example" href="/?q=i:best dogs">i:best dogs</a></li>
    <li><a class="example" href="/?q=capybaras and rabbits i:">capybaras and rabbits i:</a></li>
  </ul>
</li>

<li>
  Milla's bag of tricks. <span class="milla"></span>
  <ul>
    <li><a class="example" href="/?q=sw:pequeña">sw:pequeña</a></li>
    <li><a class="example" href="/?q=enes:Today is the best day since yesterday!">enes:Today is the best day since yesterday!</a></li>
    <li><a class="example" href="/?q=esen:¡Hoy es el mejor día desde ayer!">esen:¡Hoy es el mejor día desde ayer!</a></li>
    <li><a class="example" href="/?q=etes:Homme on uus päev.">etes:Homme on uus päev.</a></li>
    <li><a class="example" href="/?q=esja:Mañana es un nuevo día.">esja:Mañana es un nuevo día.</a></li>
    <li><a class="example" href="/?q=auslan:pah">auslan:pah</a></li>
  </ul>
</li>

<li>
  Other queries that start with alphanumeric characters followed by <span class="example">:</span> are DuckDuckGo'd with that bang.
  <ul>
    <li><a class="example" href="/?q=wt:jänes">wt:jänes</a></li>
    <li><a class="example" href="/?q=jisho:犬馬">jisho:犬馬</a></li>
    <li><a class="example" href="/?q=maps:zambrero">maps:zambrero</a></li>
    <li><a class="example" href="/?q=twitter:skpd__">twitter:skpd__</a></li>
    <li><a class="example" href="/?q=gh:ruby/ruby">gh:ruby/ruby</a></li>
    <li><a class="example" href="/?q=typescript:Partial">typescript:Partial</a></li>
    <li><a class="example" href="/?q=mdn:HTMLInputElement">mdn:HTMLInputElement</a></li>
  </ul>
</li>

<li>
  Anything else is Google searched.
  <ul>
    <li><a class="example" href="/?q=asmr zoroastrian chant download">asmr zoroastrian chant download</a></li>
    <li><a class="example" href="/?q=biggest slug">biggest slug</a></li>
    <li><a class="example" href="/?q=most dogs in one place">most dogs in one place</a></li>
  </ul>
</li>

<li>
  Easter eggs.
  <ul>
    <li><a class="example" href="/?q=yawonk">yawonk</a></li>
    <li><a class="example" href="/?q=adc">adc</a></li>
    <li>
      <a class="example" href="/?q=ynab">ynab</a>,
      <a class="example" href="/?q=lhv">lhv</a>,
      <a class="example" href="/?q=ing">ing</a>
    </li>
  </ul>
</li>

</ul>
