body {
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  background-repeat: repeat-x;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
h1, h1 a, h1 a:visited {
  color: steelblue;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 18px;
  text-shadow: 0 1px 0 #ffffff;
  text-decoration: none;
}
.example {
  font-family: monospace;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  padding: 0px 4px;

}
a.example {
  text-decoration: none;
}
a.example, a.example:visited {
  color: olivedrab
}
a.example:focus-within, a.example.highlighted {
  background-color: yellowgreen;
  color: #333;
}
form {
  margin: 18px 0;
  display: flex;
}
input[type="text"] {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555555;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 4px 6px;
  vertical-align: middle;
  flex: 1;
  margin: 2px;
}
input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="submit"] {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  margin: 2px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #e6e6e6;
  background-position: 0 -15px;
  border-color: #adadad;
  color: #333333;
  text-decoration: none;
}
input[type="submit"]:active {
  background-color: #cccccc;
  background-image: none;
  border-color: #999999;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  outline: 0;
}
input[type="submit"]:focus-within, input[type="submit"]:focus-visible {
  outline: #6c975f auto 1px;
}
input:-moz-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder {
  color: #999999;
}
p.message {
  background-color: #e6f0ff;
  background-repeat: repeat-x;
  background-image: linear-gradient(to bottom, #ffffff, #e6f0ff);
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #333333;
  margin: 18px 0;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 #ffffff;
}
.bunnywave {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  background-image: url(/bunnywave.png);
  background-size: contain;
}
